/*#id_list_table{
  border-style: solid;
  border-color: yellow;
}*/

#id_new_item{
  margin-top: 2ex;
}

/*.row{
  border-style: solid;
  border-color: blue;
}

.col-md-3{
  border-style: solid;
  border-color: yellow;
}

.col-md-6{
  border-style: solid;
  border-color: green;*/
/*}*/
